.app-detail-bottom__item-comment-content-form {
    margin : 20px 0px;
    
}
.app-detail-bottom__content {
    display : grid;
    gap : 25px;
}
.app-detail-bottom__item-content {
  
    width : 100%;
     height : 700px;
    overflow: hidden; 

    
}
.app-detail-bottom__item-content img{
    width : 100%;
    margin : 10px 0px;
    
    
}

.app-detail-bottom__item-content p {
    font-size: 15.5px;
   margin : 15px 0px;
}
.app-detail-bottom__item-content-btn button{
    background: none;
    border : none;
    color: #1e8e04;
    cursor: pointer;
    font-size: 18px;
}
.app-detail-bottom__item-content-btn {
    text-align: center;
    margin : 35px 0px 0px 0px;
    cursor: pointer;
}
.app-detail-title__content {
    display : flex;
    align-items: center;
    justify-content:space-between;
    flex-wrap: wrap;
}

.app-detail-bottom__item-product-right table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
.app-detail-bottom__item-product-right td, th {
    font-size: 14.5px;
    text-align: left;
    padding: 8px;
  }
  tr:nth-child(odd) {
    background-color: #f5f5f5;
  }


.app-detail-bottom__item-product-right-btn button {
    width : 100%;

    background: none repeat scroll 0 0 #fafafa;
    border: 1px solid #f60;
    border-radius: 3px;
    color: #f60;
   font-size: 15px;
    font-weight: bold;
    margin-top: 20px;
    padding: 10px 0;
    text-align: center;
}


.app-detail-title__content .app-detail-title__content-item:last-child {
    display: flex;
    align-items: center;
}
.app-detail-title__content-item-rank li {
    display:inline-block;
}
.app-detail-title__content-item-sale {
    background: -webkit-linear-gradient(left, #60BB22, #20863D);
    border-radius: 20px;
    color : #fff;
    font-size: 12px;
    padding : 3px 8px;
}
.app-detail-title__content-item-vote {
    color :#20863D;
}
.center {
    display : flex;
    flex-direction: column;
    justify-content: center;
    
    align-items: center;
}
.app-detail-top__content-carousel-top-detail img {
    width : 100%;
}
.app-detail-top__content-carousel-bottom-detail img {
    width : 100%;
}
.app-detail-top__content-carousel-bottom-detail .owl-item {
    display: flex !important;
    justify-content: center;
    align-items: center;
    border : 1px solid rgb(211, 210, 210);
    border-radius: 5px;
    padding : 3px 0px;
    
}
.carousel-active-border {
    border : 1px solid red !important;
}
.app-detail-top__content-carousel-bottom-detail .owl-stage{
    display: flex !important;
  
    
}


.position-carousel {
    z-index : 999;
    top : 0px;
    left : 0px;
    width : 100vw !important;  
    height : 100%;
    position: fixed;
    background: black;
}
.position-carousel .app-detail-top__content-carousel-top-detail img {
    width : 650px !important;
}
.position-carousel .app-detail-top__content-carousel-bottom-detail img {
    width : 90px !important;
}
.position-carousel .app-detail-top__content-carousel-top {
  
  display: flex !important;
  align-items: center !important;
   height : 100% !important;
}

.position-carousel>.app-detail-top__content {
    
    height : 100%;
    display: flex !important;
   flex-direction: column;
  justify-content: space-between !important;
  align-content: space-between !important;
}
.position-carousel .owl-stage {
 
  display: flex !important;
  align-items: center !important;
}

.app-detail-top__center-cost select {
    color :#1e8e04;
    background: #eeeeee;
    padding : 6px 8px;
    border : 1px solid #777;
    border-radius: 3px;
}

.app-detail-top__content {
    
    height : 100%;
    display: flex !important;
   flex-direction: column;
  
  align-content: space-between !important;
}
.app-detail-top__content .owl-stage {
 
    display: flex !important;
    align-items: center !important;
  }
  .owl-item {
    cursor: pointer;
  }
  .app-detail-top__center-filter{
    display :flex;
    flex-direction: column;
    gap : 20px;
  }
.app-detail-top__center-filter-attribute {
    display : flex;
    flex-wrap: wrap;
    gap : 8px;
}

.app-detail-top__center-filter-attribute-item {
    display : flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    padding : 3px;
    border: 1px solid rgb(225, 225, 225);
}
.app-detail-top__center-filter-color-item img {
    width : 35px;
}
.app-detail-top__center-filter-color-item-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
   align-items: flex-start;
    
}
.app-detail-top__center-filter-color-item{
    position: relative;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap : 13px;
    border-radius: 5px;
    padding : 5px 10px 5px 5px;
    border: 1px solid rgb(225, 225, 225);
}
.app-detail-top__center-filter-color {
    display :flex;
    gap : 10px;
    flex-wrap: wrap;

}

.item_same-active:after {
    content: "";
    width: 15px;
    height: 12px;
    display: block;
    position: absolute;
    background: #f9920f;
    top: -1px;
    left: -1px;
    z-index: 0;
    border-radius: 5px 0 5px 0;
}
.item_same-active:before {
    content: "";
    left: 5px;
    top: -0.5px;
    width: 4px;
    height: 8px;
    border: solid #fff;
    border-width: 0 1.5px 1.5px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    display: block;
    z-index: 1;
}
.item_same-active {
    border : 1px solid #f9920f !important;
}
.app-detail-top__center-promotion-title-tab span {
    text-transform: uppercase;

}
.app-detail-top__center-promotion-title-tab {
    background-color: #f4f4f4;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    padding : 7px 0px;
}
.app-detail-top__center-promotion-detail li {
    display : flex;
    align-items: center;
    font-size: 15px;
    gap : 8px;
    padding : 3px 0px;
}
.app-detail-top__center-promotion-detail li>i {
    color: #4cbd00;
  
    font-size: 19px !important;
}
.link-to-detail {
    color: #4cbd00;
}
.app-detail-top__center-promotion {
   border-radius: 3px;
   margin : 10px 0px;
    border: 1px solid #ddd;
}
.app-detail-top__center-promotion-detail {
    padding : 10px 15px;
}
.app-detail-top__center-promotion-product-detail-img img {
    width : 60px;
}
.app-detail-top__center-promotion-product-detail-title {
    display : flex;
    flex-direction: column;
    gap : 3px;
}
.app-detail-top__center-promotion-product-detail {
    display : flex;
    gap : 10px;
}
.app-detail-top__center-promotion-product-detail-title {
    font-size: 14px;
}
.app-detail-top__center-promotion-product-detail-title span>b{
    color : #f60;
}
.app-detail-top__center-payload-btn{
    margin : 5px 0px;
    cursor: pointer;
    color : #fff;
    line-height: 22px;
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.app-detail-top__center-payload-btn-green {
    background: -webkit-linear-gradient(left, #20863D, #60BB22);
    padding: 6px 3px;
    border-radius: 5px;
}

.app-detail-top__center-payload-btn-orange {
    background: -webkit-linear-gradient(left, #FF6700, #F9920F);
    padding: 10px;

    border-radius: 5px;
}
.app-detail-top__center-payload-btn span:first-child {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 17px;
}
.app-detail-top__center-payload-btn span:last-child {
    
    font-size: 14px;
}

.app-detail-top__center-last-tab-call {
    display : flex;
    align-items: center;
    justify-content: center;
    gap : 8px;
    font-size: 14px;
}
.app-detail-top__center-last-tab-call  i {
  color :#f60;
}
.app-detail-top__center-last-tab {
    background-color: #f4f4f4;
    border-radius: 3px;
    padding : 9px 0px;
}
.app-detail-top__center-last-tab-share {
    display: flex;
    gap : 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.app-detail-top__center-last-tab-share i {
    border :  1px solid #333;
    border-radius: 100%;
    padding : 7px 8px;
    font-size: 17px;
}
.app-detail-top__center-last-tab-share span {
    font-size: 14px;
}
.app-detail-top__center-last-tab {
    margin : 5px 0px;
}
.app-detail-top__content-right-address-list {
    margin-top  : 10px !important;
}
.app-detail-top__content {
    border : 1px solid #eeeeee;
    border-radius: 6px;
    height :max-content !important;
    padding : 10px;
}

.app-detail-top__content-right{
 padding-top : 10px;
    display : flex;
    flex-direction: column;
    gap : 20px;
}
.app-detail-top__content-right-address-item-title {
    display : flex;
    align-items: center;
    gap : 5px;
}
.app-detail-top__content-right-address-item-detail {
    margin-top : 1px;
    padding-left : 21px;
    display: flex;
    flex-wrap: nowrap;
    justify-content:space-between;
    
}
.app-detail-top__content-right-address-item-detail-phone-item {
    display : flex;
    align-items: center;
    gap : 5px;
}
.app-detail-top__content-right-address-item-detail-map-item {
    display : flex;
    align-items: center;
    gap : 5px;
}
.app-detail-top__content-right-address-item-detail span {
    font-size: 13.3px;
}
.app-detail-top__content-right-address-item-detail-phone {
    display : flex;
    flex-direction: column;
    gap : 3px;
    width : 46%;
}
.app-detail-top__content-right-address-item-detail-map {
    width : 54%;
    display : flex;
    flex-direction: column;
    gap : 3px;
}
.app-detail-top__content-right-address-item-detail-phone-text {
    color :#f60;
    font-weight: 500;
}
.app-detail-top__content-right-address-item-detail-map-text {
    color :#f60;
    text-decoration: underline;
}
.app-detail-top__content-right-address-item-title span {
    font-size: 13.7px !important;
    font-weight: 600;
}
.app-detail-top__content-right-address-item {
    padding : 9px 0px;
    border-bottom : 1px solid #ddd;
}
.app-detail-top__content-right-address-list .app-detail-top__content-right-address-item:last-child {
    border-bottom : none !important;
}
.app-detail-top__content-right-address-list {
    border : 1px solid #ddd;
    padding : 10px;
    overflow-x: auto;
    height : 250px;
    border-radius: 3px;
}

.app-detail-top__content-right-address-list::-webkit-scrollbar {
    width: 5px;
    background-color: #ff6700;
}
.app-detail-top__content-right-address-list::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
    background-color: #f5f5f5;
}
.app-detail-top__content-right-address-list::-webkit-scrollbar-thumb {
    background-color: #ff6700;
    border: 2px solid #ff6700;
}
.app-detail-top__content-right-address-tab {
    text-transform: uppercase;
    text-align: center;
    font-size: 13px;
    font-weight: 500;
   background-color: #f4f4f4;
   padding : 8px 0px;
   margin : 8px 0px;
}
.app-detail-top__content-right-address-item-detail-phone-item-active {
    color :#20863D;
    font-weight: 500;
}
.app-detail-top__content-right-center li {
    display :block;
    font-size: 14px;
    padding : 5px 0px;
    line-height: 18px;
}
.app-detail-top__content-right-center {
    border : 1px solid #ddd;
    padding : 5px 10px;
    border-radius: 3px;
}
.app-detail-top__content-right-product-item-img img {
    width : 100%;
}
.app-detail-top__content-right-product-item {
    display : flex;
    gap : 5px;
    padding : 5px 0px;
}
.app-detail-top__content-right-product-item-img  {
    flex : 0 0 65px;
}
.app-detail-top__content-right-product-item-detail {
    width : 100%;
    display : flex;
    flex-direction: column;
    justify-content: space-between;
}
.app-detail-top__content-right-product-item-detail span:last-child {
    font-size: 15px;
}
.app-detail-top__content-right-product-item-detail span:last-child>b{
    color :#f60;
}

.app-detail-top__content-right-product-item-detail span:first-child {
    font-size: 13.4px;
    font-weight: 500;
}
.app-detail-top__content-right-product-item {
    padding : 10px 0px;
}
.app-detail-top__content-right-product {
    padding : 10px;
    border : 1px solid #ddd;
}
.app-detail-promotion__tab {
    position: relative;
    display: inline-flex;
    align-items: center;
    margin-bottom: 15px;
}
.app-detail-promotion__tab img {
 position: absolute;
 left : 0px;
}

.app-detail-promotion__tab span {
    display: block;
    margin-left: 34px;
    font-size: 18px;
    color: #fff;
    line-height: 21px;
    font-weight: 500;
   font-size: 17px;
    padding: 8px 21.5px 7px 19.5px;
    clip-path: polygon(95% 0%, 100% 50%, 95% 100%, 0% 100%, 10px 50%, 0% 0%);
    background-color: #ff6700;
    text-transform: uppercase;
}
.app-detail-promotion__content-flex-center img {
    width : 100%;
}
.app-detail-promotion__content-flex-bottom {
    display: flex;
    flex-direction: column;
}

.app-detail-promotion__content-flex-item {
    position: relative;

}
.app-detail-promotion__content-flex-add {
    position: absolute;
    top : 0px;
    font-weight: 600;
    z-index: 99;
    right : -22px;
    color : #333;
    font-size: 40px;
    height : 100%;
    display: flex;
    align-items: center;
}
.app-detail-promotion__content-flex-item-top {
    position: relative;
    text-align: end;
    z-index: 100;
}
.app-detail-promotion__content-flex-item-top input{
   width : 46px;
}
.app-detail-promotion__content-flex-bottom a:first-child {
    margin : 5px 0px;
    font-size: 15px;
}
.app-detail-promotion__content-flex-bottom a:last-child>b {
    color :#f60;
    font-size: 14px;
}
.app-detail-promotion__content-flex-bottom a:last-child>span {
   text-decoration: line-through;
   font-size: 14px;
   color :rgb(152, 152, 152);
}
.app-detail-promotion__content-right .app-detail-promotion__content-right-item:first-child {
    text-align: center;
    text-transform: uppercase;
}
.app-detail-promotion__content-right .app-detail-promotion__content-right-item:nth-child(2) {
   
    gap : 20px;
   display : flex;
   align-items: center;
   justify-content:center;
}
.app-detail-promotion__content-right .app-detail-promotion__content-right-item:nth-child(2) span:first-child{
   color :#f60;
   font-weight: 600;
   font-size: 20px;
}
.app-detail-promotion__content-right .app-detail-promotion__content-right-item:nth-child(2) span:last-child{
    text-decoration: line-through;
    
    font-size: 17px;
    color :rgb(152, 152, 152);
 }
.app-detail-promotion__content-right button {
    margin-top : 8px;
    width : 100%;
    padding: 10px;
    font-size: 16px;
    background: -webkit-linear-gradient(left, #FF6700, #F9920F);
    color: #fff;
    border-radius: 3px;
    border : none;
}
.app-detail-promotion__content-right {
    height : 100%;
   display: flex;
   flex-direction: column;
   gap : 8px;
    padding : 30px 27px 10px 3px;
}
.app-detail-promotion__content-flex {
    display : flex;
    border-right : 1px solid #ddd;
    gap : 20px;
    padding : 20px 10px;
 }
.app-detail-promotion__content {
    border : 1px solid #ddd;
    
}
.app-detail-bottom__item-review-content {
    display : flex;
    margin : 10px 0px;
   gap : 45px;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
}
.app-detail-bottom__item-review-content .app-detail-bottom__item-review-content-item:nth-child(2){
   
    display : flex;
    justify-content: center;
    flex-direction: column;
    
}

.app-detail-bottom__item-review-content .app-detail-bottom__item-review-content-item:nth-child(3) button{
    border: 2px solid #f60;
    background: #fff;
    padding : 15px 15px;
    font-size: 16px;
    display: block;
    color: #f60;
    text-transform: uppercase;
}


.app-detail-bottom__item-product-right-new {
    margin-top : 30px;
}
.app-detail-bottom__item-product-right-new .app-new-suggest__center-item-detail-title span{
  font-size: 16.5px !important;
  line-height: 20px !important;
}
.app-detail-bottom__item-review-content-item {
    width : 100%;
    
   padding : 20px 0px;
}
.app-detail-bottom__item-product-right-new .app-new-suggest__center {
  gap : 15px;
}
.app-detail-bottom__item-review-content .app-detail-bottom__item-review-content-item:first-child {
    flex : 0 0 210px;
    display : flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right : 1px solid #eeeeee;
}
.app-detail-bottom__item-review-content-item-total {
 
    display : flex;
    flex-direction: column;
    gap : 0px;
    justify-content: space-evenly;
}

.app-detail-bottom__item-review-content .app-detail-bottom__item-review-content-item:last-child {
    flex : 0 0 210px;
    display : flex;
    align-items: center;
    justify-content: center;
  
    border-left : 1px solid #eeeeee;
}
.app-detail-bottom__item-review-content-item-total-top span:first-child {
    font-size: 55px;
   
    font-weight: 500;
    display: inline-block;
   
}
.app-detail-bottom__item-review-content-item-total-top span:last-child {
    font-size: 25px;
    font-weight: 500;
    color: #999;
}
.app-detail-bottom__item-review-content-item-total-center ul {
    display : flex;
    gap : 4px;
}
.app-detail-bottom__item-review-content-item-total-center li {
    list-style: none;
    color :#f9920f;
}
.app-detail-bottom__item-review-content-item-total-bottom span {
    color: #999;
    font-size: 15px;
}
.app-detail-bottom__item-review-content-item-vote-flex {
    display : flex;
    gap : 18px;
}
.app-detail-bottom__item-review-content-item-vote-flex .app-detail-bottom__item-review-content-item-vote-flex-item:first-child {
    flex : 0 0 75px;
    
}
.app-detail-bottom__item-review-content-item-vote-flex .app-detail-bottom__item-review-content-item-vote-flex-item:last-child {
    flex : 0 0 30px;
}
.app-detail-bottom__item-review-content-item-vote-flex-item {
    width : 100%;
}

.app-detail-bottom__item-review-content-item-vote-flex .app-detail-bottom__item-review-content-item-vote-flex-item:first-child ul{
    display : flex;
}
.fa-star-active {
    color :#f9920f !important;
}
.app-detail-bottom__item-review-content-item-vote-flex .app-detail-bottom__item-review-content-item-vote-flex-item:first-child li{
    list-style: none;
    color :#ddd;
    
}
.app-detail-bottom__item-review-content-item-vote-flex .app-detail-bottom__item-review-content-item-vote-flex-item{
    display : flex;
    align-items: center;

}
.app-detail-bottom__item-review-content-item-vote-flex-item-process {
    width : 100%;
    background: #eeeeee;
    height : 10px;
    position: relative;
}
.app-detail-bottom__item-review-content-item-vote-flex-item-process-detail {
   position: absolute;
 
   height : 100%;
   top : 0px;
   left : 0px;
   background: #f9920f;
}
.app-detail-bottom__item-review-content-item-vote-flex .app-detail-bottom__item-review-content-item-vote-flex-item:last-child span{
    color :#1e8e04;
    font-size: 15.5px;
}
.app-detail-bottom__item-comment-content-item-top-left {
    display : flex;
}
.app-detail-bottom__item-comment-content-item-top-left ul {
    display : flex;
    gap : 5px;
}
.app-detail-bottom__item-comment-content-item-top-left li {
      color: #f9920f;
     list-style: none;
}
.app-detail-bottom__item-comment-content-item-top-left {
   
    height : 17px;
    padding-right : 25px;
    display : flex;
    align-items: center;
    gap : 20px;
    border-right : 2px solid rgb(128, 128, 128);
}
.app-detail-bottom__item-comment-content-item-top {
    display : flex;
    gap : 23px;
}
.app-detail-bottom__item-comment-content-item-top-right {
    display : flex;
    align-items: center;
font-size: 15px;
    height : 17px;
    color :#999;
}
.app-detail-bottom__item-comment-content-item {
    display : flex;
    flex-direction: column;
    gap : 10px;
}
.app-detail-bottom__item-comment-content-item-top-left span {
    font-weight: 600;
    font-size: 14px;
}
.app-detail-bottom__item-comment-content-item-bottom p {
    font-size: 15px !important;
    line-height: 18px;
}
.app-detail-bottom__item-comment-content {
    display : flex;
    flex-direction: column;
    
}
.app-detail-bottom__item-comment-content-item {
    padding : 15px 0px;
    border-bottom: 1px solid #eeeeee;
}
.app-detail-bottom__item-comment-content {
    padding : 10px;
    border : 1px solid #eeeeee;
    border-radius: 8px;
}
.app-detail-bottom__item-comment-content-item-child .app-detail-bottom__item-comment-content-item {
    border : 1px solid #eeeeee !important;
    border-radius: 8px !important;
    padding-left : 20px !important;
    padding-right : 20px !important;
    margin-left : 20px;
}

.app-detail-bottom__item-comment-content-btn {
    text-align: center;
}
.app-detail-bottom__item-comment-content-btn button {
    color: #f60;
    font-size: 14px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    padding: 12px 44px;
    margin: 30px auto auto auto;
    border: 1px solid #f60;
    border-radius: 3px;
    background: none;
}
.app-detail-top__center-cost-sale {
    margin-right : 10px;
    color :#f60;
    font-size: 18px;
}
.app-detail-top__center-cost-promotion {
    text-decoration: line-through;
    color : #777;
}
.app-filter-category__content ul {
    display : flex;
  flex-wrap: wrap;
  gap : 6px;
}
.app-filter-category__content li {
    list-style: none;
    background: #F8F8F8;
    font-size: 15px;
    padding : 5px 18px;
    border-radius: 4px;
    text-transform: uppercase;
}
.app-detail-top__center-cost {
    display : flex;
    flex-direction: column;
    gap : 5px;
    margin-bottom: 25px;
}